/* line 2, ../../src/assets/sass/post.scss */
.Posts .Post {
  width: 250px;
}

/* line 5, ../../src/assets/sass/post.scss */
.Post {
  width: 100%;
  padding: 16px;
  text-align: center;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  margin: 10px;
  box-sizing: border-box;
  cursor: pointer;
  background: #f9f9f9;
}

/* line 17, ../../src/assets/sass/post.scss */
.Post:hover,
.Post:active {
  background-color: #F03861;
}

/* line 22, ../../src/assets/sass/post.scss */
.Author {
  margin: 16px 0;
  color: #ccc;
}
